<my-navbar></my-navbar>
<div class="container">
    <form name="myForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input name="myEmail" id="email" class="form-control" type="email" placeholder="xxx@yyy.com" ng-model="myEmail">
            
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input name="myPassword" id="password" class="form-control" type="password" ng-model="myPassword"></input>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="signup()">Sign Up</button>
        </div>
    </form>
    <div ng-show="showErr">
        <p>{{errInfo}}</p>
    </div>
</div>